body {
  background-color: #262626;
  margin: 0;
}
/* prettier-ignore */
h1, h2, h3 {
  font-family: 'Source Code Pro', monospace;
  color: white;
}
.line {
  width: 98%;
  height: 2px;
  justify-self: center;
  background-color: #4f5054;
}
.btn-can-afford {
  border-color: #127a20;
}
.btn-can-afford:hover {
  background-color: #5ac467 !important;
}
.btn-cant-afford {
  border-color: #c41f3d;
}
.btn-cant-afford:hover {
  background-color: #b84b5f !important;
}
#tab-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
}
.tab-btn {
  width: 200px;
  height: max-content;
  background-color: #a0a0a0;
  border: none;
  border-radius: 10px;
}
.tab-btn:hover {
  background-color: #878787;
}
.icon-1 {
  width: 50px;
  height: 50px;
}
.icon-2 {
  width: 40px;
  height: 40px;
}
.icon-3 {
  width: 20px;
  height: 20px;
}
.triangle-icon {
  content: url("../assets/svg/triangle.svg");
}
.btn-already-bought {
  border-color: #898989;
  background-color: #333333;
}
.btn-already-bought:hover {
  background-color: #212121 !important;
}
.shop-container {
  width: 100%;
  height: 100%;
  display: grid;
  margin: auto;
}